<!-- <app-calc></app-calc>
<hr>
<app-toggle></app-toggle>
<hr>
<app-array-ops [nums]="nums"></app-array-ops>
<hr>
<app-employee-ops [employees]="employees"></app-employee-ops>
<br><br><br><br><br><br><br><br>
<hr>
<app-like></app-like> -->

<!-- <app-post></app-post> -->
<!-- <app-todo></app-todo> -->
<!-- <app-user></app-user> -->
<!-- <app-doctor></app-doctor> -->
<!-- <app-doctor-appointment></app-doctor-appointment> -->
<div>
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-lg-12 mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>